@model ShopCovid19MCV.Models.Business

@{
    ViewData["Title"] = "Add Business";
}

<div class="text-center">
    <h2>Add your Business</h2>
    <p><a asp-controller="Home" asp-action="Index">Return to Home Page</a></p>
</div>

<form asp-controller="Submissions" asp-action="AddBusiness" method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="City" value="Denver" />
    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <h4 class="col-12">Information</h4>
                <div class="col-6 mb-2">
                    <label asp-for="BusinessName" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="BusinessName" />
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="ContactName" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="ContactName" />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Email" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="PersonalPhone"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="PersonalPhone" />
                    <span asp-validation-for="PersonalPhone" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="BusinessPhone" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="BusinessPhone" />
                    <span asp-validation-for="BusinessPhone" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Url" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Url" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <h4 class="col-12">Social</h4>
                <p class="col-12">The full url. (ex: https://www.instagram.com/swellcoin/)</p>
                <div class="col-6 mb-2">
                    <label asp-for="Facebook" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Facebook" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Instagram" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Instagram" />
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
                <h4 class="col-12">What are you offering?</h4> 
                <div class="col-6 mb-2">
                    <label asp-for="GiftCards" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="GiftCards" />
                    <span asp-validation-for="GiftCards" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Online" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Online" />
                    <span asp-validation-for="Online" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Curbside" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Curbside" />
                    <span asp-validation-for="Curbside" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Delivery" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Delivery" />
                    <span asp-validation-for="Delivery" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="PIF" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="PIF" />
                    <span asp-validation-for="PIF" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>