@model ShopCovid19MCV.Models.NonProfit

@{
    ViewData["Title"] = "Add NonProfit";
}

<div class="text-center">
    <h2>Add your NonProfit</h2>
    <p><a asp-controller="Home" asp-action="Index">Return to Home Page</a></p>
</div>

<form asp-controller="Submissions" asp-action="AddNonProfit" method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="City" value="Denver" />
    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <h4 class="col-12">Information</h4>
                <div class="col-6 mb-2">
                    <label asp-for="NonProfitName" ></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="NonProfitName" class="form-control" />
                    <span asp-validation-for="NonProfitName" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="MailingAddress" ></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="MailingAddress" />
                    <span asp-validation-for="MailingAddress" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="ContactName" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="ContactName" />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Email" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="PersonalPhone"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="PersonalPhone" />
                    <span asp-validation-for="PersonalPhone" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Url" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Url" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <h4 class="col-12">Social</h4>
                <p class="col-12">The full url. (ex: https://www.instagram.com/swellcoin/)</p>
                <div class="col-6 mb-2">
                    <label asp-for="Facebook" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Facebook" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="Instagram" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="Instagram" />
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>