@model ShopCovid19MCV.Models.PayItForwardViewModel

@{
    ViewData["Title"] = "Submit Pay It Forward";
}

<div class="text-center">
    <h2>Submit Pay It Forward</h2>
    <p><a asp-controller="Home" asp-action="Index">Return to IShopTally Page</a></p>
</div>

<form asp-controller="Submissions" asp-action="SubmitPayItForward" method="POST">
    <input type="hidden" asp-for="payItForward.Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <h4 class="col-12">Information</h4>
                <div class="col-6 mb-2">
                    <label asp-for="payItForward.Name" ></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="payItForward.Name" class="form-control" />
                    <span asp-validation-for="payItForward.Name" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="payItForward.Email" ></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="payItForward.Email" />
                    <span asp-validation-for="payItForward.Email" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="payItForward.Phone" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="payItForward.Phone" />
                    <span asp-validation-for="payItForward.Phone" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="payItForward.GiftCardAmount" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="payItForward.GiftCardAmount" class="form-control" />
                    <span asp-validation-for="payItForward.GiftCardAmount" class="text-danger"></span>
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="BusinessName"></label>
                </div>
                <div class="col-6 mb-2">
                    <input asp-for="payItForward.BusinessId" type="hidden" value="@Model.BusinessId"/>
                    <input asp-for="BusinessName" class="form-control" disabled />
                </div> 
                <div class="col-6 mb-2">
                    <label asp-for="payItForward.NonProfitId" class="required"></label>
                </div>
                <div class="col-6 mb-2">
                    <select asp-for="payItForward.NonProfitId" asp-items="Model.LuNp" class="form-control"></select>
                    <span asp-validation-for="payItForward.NonProfitId" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>