﻿@model IEnumerable<ShopCovid19MCV.Models.Business>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h4><a asp-controller="Submissions" asp-action="AddBusiness">Add Business</a></h4>
    <h4><a asp-controller="Submissions" asp-action="AddNonProfit">Add Non-Profit</a></h4>
</div>

<div class="text-center mb-5">
    <h4><a asp-controller="Home" asp-action="PayItForward">View Pay It Forward Directory</a></h4>
</div>


    <table id="businessTable" style="width: 100%;">
        <thead>
            <th>Business</th>
            <th>Phone</th>
            <th>Social</th>
            <th>Gift Cards</th>
            <th>Online</th>
            <th>Curbside</th>
            <th>Delivery</th>
            <th>Pay It Forward</th>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor( modelx => x.BusinessName)
                </td>                
                <td>
                    @Html.DisplayFor( modelx => x.BusinessPhone)
                </td>
                <td>
                    @Html.DisplayFor( modelx => x.BusinessPhone)
                </td>                
                <td>
                    @Html.DisplayFor( modelx => x.GiftCards)
                </td>                
                <td>
                    @Html.DisplayFor( modelx => x.Online)
                </td>                
                <td>
                    @Html.DisplayFor( modelx => x.Curbside)
                </td>
                <td>
                    @Html.DisplayFor( modelx => x.Delivery)
                </td>
                @if( x.PIF == true )
                {
                <td>
                    <a asp-controller="Submissions" asp-action="SubmitPayItForward" asp-route-Id="@x.Id">Pay It Forward</a>
                </td>
                }else
                {
                <td>
                    @Html.DisplayFor( modelx => x.PIF)
                </td>
                }
                
            </tr>  
            }
        </tbody>
    </table>
<script>
    $(document).ready( function () {
    $('#businessTable').DataTable();
} );
</script>