@model IEnumerable<ShopCovid19MCV.Models.NonProfit>

@{
    ViewData["Title"] = "Pay It Forward";
}

<div class="text-center">
    <h1 class="display-4">Pay It Forward Home Page</h1>
    <h4><a asp-controller="Home" asp-action="Index">Back to IShopTally</a></h4>
</div>

<div class="text-center">
    <h4><a asp-controller="Submissions" asp-action="AddNonProfit">Add Non-Profit</a></h4>
</div>


    <table id="nonprofitTable" class="text-center" >
        <thead>
            <th>Non-Profits</th>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor( modelx => x.NonProfitName)
                </td>                
            </tr>  
            }
        </tbody>
    </table>
<script>
    $(document).ready( function () {
    $('#nonprofitTable').DataTable();
} );
</script>